<div id="container-cat-card" data-controller='slide-card'>
<div class="categories-h1"> <h1>Categories</h1>
</div>
  <div id="slider-container">
    <span class="btn" data-action="click->category-card#slideCardRight"></span>
      <div id="slider">
        <div class="slide" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://placesjournal.org/wp-content/uploads/2013/10/Eggener-Haunted-01-1020x617.jpg)">
            <span><%= link_to "Haunted Houses", destinations_path %></span>
        </div>
        <div class="slide" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://static.toiimg.com/photo/msid-92548663,width-96,height-65.cms)">
          <span><%= link_to "Cemeteries", destinations_path %> </span>
        </div>
        <div class="slide" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://static.dezeen.com/uploads/2017/02/childrens-insane-ward-matt-van-der-velde-architecture-abandoned-asylums-interior-jonglez-publishing_h-sq_dezeen_2364_col_0.jpg)">
          <span><%= link_to "Abandoned Building", destinations_path %> </span>
        </div>
        <div class="slide" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://nypost.com/wp-content/uploads/sites/2/2018/10/ufo-sightings-roundup-1.jpg?quality=75&strip=all&w=744)">
          <span><%= link_to "UFO", destinations_path %> </span>
        </div>
        <div class="slide" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.nationthailand.com/images/news/2020/08/15/30393014/800_b3c3010a9c60008.jpg?v=1597468066)">
          <span><%= link_to "Deserted Island", destinations_path %> </span>
        </div>
        <div class="slide" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.cbs17.com/wp-content/uploads/sites/29/2021/09/ghost-stairs.jpg?w=800)">
          <span><%= link_to "Ghosts", destinations_path %> </span>
        </div>
    </div>
    <span class="btn" data-action="click->category-card#slideCardLeft"></span>
  </div>
</div>
