<div class="destinations-main-container">
  <div class="cards">
    <% @destinations.each do |destination| %>
      <%= link_to destination_path(destination) do %>
        <div class="container-card">
          <img class="image-card" id="overlay" src="<%= destination.image%>" alt="">
          <div class="card-information">
            <div class="text-container">
              <h3 class="title-card" ><%= destination.name %> </h3>
              <p class="text-card" ><%= destination.location %></p>
              <p class="text-card" ><strong>$<%= destination.price %></strong></p>
            </div>
            <div class="categories-container">
              <div class="intensity-card">
                <p class="text-card categories"><%= sanitize destination.intensity %> </p>
              </div>
              <div class="categories-card">
                <p class="text-card categories"><%= destination.category %> </p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
