<%# <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= render "shared/category-card" %>

<%= link_to "See all destinations", destinations_path %>
<%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>

<%= render "shared/avatar" %>
<%= render "shared/banner" %>
<%= render "shared/category-card" %>

<div class="home-card-container">
    <h1>Your spooky selection</h1>
    <div class="home-cards-grid">
        <% #[@destinations[0], @destinations[3]].each do |destination| %>
        <% @destinations.slice(0,8).each do |destination| %>
        <%= link_to destination_path(destination) do %>
            <div class="container-card">
              <img class="image-card" src="<%= destination.image %>" alt="">
              <div class="card-information">
                <div class="text-container">
                  <h3 class="title-card"><%= destination.name %> </h3>
                  <p class="text-card" ><%= destination.location %></p>
                  <p class="text-card" ><strong>$<%= destination.price %></strong></p>
                </div>
                <div class="categories-container">
                  <div class="intensity-card">
                    <p><%= sanitize destination.intensity %></p>
                  </div>
                  <div class="categories-card">
                    <p class="text-card categories" ><%= destination.category %></p>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
    </div>
</div>
