<h1>This is our profile page</h1>
<div class="cards">
  <% @bookings.each do |booking| %>
    <ul class="card-trip">
      <li><%= booking.number_people %></li>
      <% destination = Destination.find(booking.destination_id) %>
      <li><%= destination.name %></li>
      <li><%= destination.price %></li>
      <li><%= destination.location %></li>
      <li><%= destination.category %></li>
      <li><%= destination.intensity%></li>
      <button><%= link_to "Edit booking", edit_destination_booking_path(current_user.booking, booking) %></button>
    </ul>
  <% end %>
</div>
