<h2>----------------------</h2>
<h2>----------------------</h2>
<h2>----------------------</h2>
<h2>----------------------</h2>
<h2>----------------------</h2>

<div class="show-container">
  <div class="container-left">
    <h2 class="title-show"><%= @destination.name %></h2>
    <div class="horiz-container">
      <div class="intensity-card">
        <%= sanitize @destination.intensity %>
      </div>
      <div class="categories-card text-card categories">
        <%= @destination.category %>
      </div>
    </div>
    <img class="image-show" src="<%= @destination.image%>" alt="">
    <div class="horiz-container">
      <div class="subheader-accent"></div>
      <h2 class="subheader-text">Overview</h2>
    </div>
    <div class="show-text"> <%= @destination.description%> </div>
    <div class="horiz-container">
      <div class="subheader-accent"></div>
      <h2 class="subheader-text">Reviews</h2>
    </div>
  </div>
  <div class="container-right">
    <div class="container-form">
      <%= simple_form_for [@destination, @booking] do |f| %>
        <%= f.input :date_start %>
        <%= f.input :date_end %>
        <%= f.input :number_people %>
        <%= f.submit %>
      <% end %>
    </div>
    <div class="horiz-container">
      <div class="subheader-accent"></div>
      <h2 class="subheader-text">Location</h2>
    </div>
    <div  class="map map-show" style="width: auto; height: 500px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

</div>

<h2>Reviews</h2>
<div data-controller="insert-in-list" data-insert-in-list-position-value="beforeend">
  <div data-insert-in-list-target="items">
    <% if @destination.reviews.blank? %>
      Be the first to leave a review for <%= @destination.name %>
    <% else %>
      <% @destination.reviews.each do |review| %>
        <p><%= review.content %></p>
      <% end %>
    <% end %>
  </div>
  <h4>Add your review</h4>
  <% if @user_booking%>
    <%= simple_form_for [@user_booking, @review] do |f|%>
      <%= f.input :content %>
      <%= f.input :rating %>
      <%= f.button :submit %>
    <% end %>
  <% end %>
</div>

<%= link_to "Delete",
    destination_path(@destination),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
<%= link_to "Edit", edit_destination_path(@destination) %>
<%= link_to "Back to all destinations", destinations_path %>
